<!DOCTYPE html>
<meta charset="utf-8">
<html>
<title>Second of Assignment</title>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="flamework_name">ExpressJS</h1>

    <% if(hostname) %>
    <p class="hostname">Host: <%= hostname %></p>
</body>

</html>